# 이번 실습에서 변수가 될 수 있는 값들을 미리 이름 붙여서 고정

# Kubernetes
MASTER_IP=192.168.115.251
NODE_IP=192.168.115.251

# NODEPORT
NGINX_NODEPORT=30080

# NAMESPACE
K8S_NBAMESPACE=default

# Storage (다음 단계용)
NFS_SERVER_IP=192.168.115.50
NFS_BASE_PATH=/srv/nfs_share
